

<!-- Default form login -->
<div class = "container">
        

<form [formGroup] = "loginForm" class="text-center border border-light p-5"   (ngSubmit) = "loginForm.valid && login()">
    <div class = "row justify-content-center align-items-center">
    <div class = "col-md-6">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Sign in</strong>
          </h5>
  

    <!-- Email -->
    <div class = "form-group">
        <label>Email</label>    
    <input type = "text" class = "form-control" #email formControlName = "email" placeholder="Enter your email..."
    required [pattern] = "emailRegex">
            <div *ngIf="loginForm.controls['email'].invalid && 
    (loginForm.controls['email'].dirty || 
    loginForm.controls['email'].touched)" class="alert alert-danger">
<div *ngIf="loginForm.controls['email'].errors.required">
    Email is required!
</div>
<div *ngIf="loginForm.controls['email'].errors.pattern">
    Invalid email!
</div>
</div>
    </div>


    <!-- Password -->
   
    <div class = "form-group">
        <label>Password</label>
        <input type = "password" class = "form-control" #password  formControlName = "password"  minlength="4" placeholder="Enter your password..."
       required>
        <div *ngIf="loginForm.controls['password'].invalid && 
        (loginForm.controls['password'].dirty || 
        loginForm.controls['password'].touched)" class="alert alert-danger">
    <div *ngIf="loginForm.controls['password'].errors.required">
        Password is required!
    </div>
    <div *ngIf = "loginForm.controls['password'].errors.minlength" class = "alert alert-danger">
        Enter atleast 4 characters.</div>
      </div>
        
    </div>

    <!-- Sign in button -->
    <input type = "submit"  class="btn btn-info btn-block btn-rounded my-4" [disabled]="disabledSubmitButton" mdbBtn color = "btn btn-primary" color="info" value = "Login">
    <div class = "validation-message" *ngIf = "loginFailed">Login failed!</div>
    <!-- <button class="btn btn-info btn-block btn-rounded my-4" type="submit">Sign in</button> -->

    <!-- Register -->
    <p>Not a member?
        <a routerLink ="/register" >Register</a>
    </p>

</div>
</div>
</form>
<!-- Default form login -->
</div>


