
<div class = "container">
    <h3>Edit Story</h3>
    <form [formGroup] = "editStoryForm" (ngSubmit) = "editStoryForm.valid && onSubmit()" class="border border-light p-5">
       
        <div class = form-group>
            <label for = "title">Title</label>
            <input type = "text" class = "form-control" #title  formControlName = "title" placeholder="Title">
            <div *ngIf="editStoryForm.controls['title'].invalid && 
            (editStoryForm.controls['title'].dirty || 
            editStoryForm.controls['title'].touched)" class="alert alert-danger">
                <div *ngIf="editStoryForm.controls['title'].errors.required">
                    Title is required!
                </div>
            </div>
    </div>
    
    <div class = form-group>
            <label for = "body">Body</label>
            <h3>Tell Us Your Story</h3>
            <textarea type = "textarea" rows="10" cols="50" class = "form-control" id = "body" name = "body" #body  formControlName = "body" placeholder="Body"></textarea>
            <div *ngIf="editStoryForm.controls['body'].invalid && 
            (editStoryForm.controls['body'].dirty || 
            editStoryForm.controls['body'].touched)" class="alert alert-danger">
        <div *ngIf="editStoryForm.controls['body'].errors.required">
            Body is required!
        </div>
        </div>
    </div>
    <input type = "submit"  class="btn btn-cyan" mdbBtn color = "btn btn-primary" color="info" value = "Update">
    <a [routerLink] = "['/profile']"><button type="button" class="btn btn-amber">Cancel</button></a>
    
    
    
    </form>
        
    
    
    
    
    </div>
    