.card-header {
    background-color: #33b5e5 !important;
}

.btn-rounded {
    border-radius: 10em;
}

.btn-info {
    color: #33b5e5 !important;
    background-color: transparent !important;
    border: 2px solid #33b5e5 !important;
    line-height: 10px;
}

.validation-message {
    color: red;
}

.alert {
    background-color: transparent;
    border: 0;
    color: red;
}

.success {
    padding: 20px;
    /* background-color:#249424;  */
    background-color: transparent;
    border: 0;
    color: green;
    margin-bottom: 15px;
}